.banner {
  position: relative;
  min-width: 250px;
}
.bannerItem {
  position: relative;
  width: 100%;
  height: 100%;
}

.bannerAction {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
