.actionList {
  position: absolute;
  top: 70px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.actionItem:hover {
  background-color: rgba(79, 79, 79, 0.5);
}

.actionItem:active {
  scale: 0.9;
  background-color: rgba(14, 183, 47, 0.5);
}
