.tvScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 1;
}

.notFoundTextBox {
  position: absolute;
  top: 50%;
  left: 58%;
  z-index: 4;
  color: #000;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pixel {
  position: absolute;
  width: 5px;
  height: 5px;
}

.notFoundTitle {
  font-size: 10em;
}

.notFoundText {
  font-size: 3em;
  font-weight: bold;
}
