.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 5;
  overflow: hidden;
  transition: all 0.2s ease;
  border-right: 2px solid #303030;
}

.sidebarNavigation {
  margin: 20px auto;
  padding: 5px;
  height: 100vh;
  padding-bottom: 30px;
  scrollbar-width: none;
  position: relative;
}

.sidebarNavigation::-webkit-scrollbar {
  display: none;
}

.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.sidebarItem {
  transition: all 0.2s ease;
}

.sidebarItem:hover {
  background-color: #252525;
  border-radius: 5px;
}

.sidebarItemText {
  font-weight: bold;
  white-space: nowrap;
}

.routerLink {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease;
  color: inherit;
  width: 100%;
  border-radius: 5px;
}

.sidebarMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease;
  color: inherit;
  width: 100%;
  border-radius: 5px;
}
