.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.weekTrends {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  height: 100%;
  width: 100%;
}

.moviesList {
  margin-top: 20px;
  width: 100%;
}
.sectionTitle {
  font-size: 25px;
}

.popularMoviesWrapper {
  padding-bottom: 10px;
  overflow: hidden;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .popularMoviesWrapper {
    width: 1350px;
  }
  .weekTrendsWrapper {
    width: 1350px;
  }
}

@media screen and (min-width: 1080px) {
  .popularMoviesWrapper {
    width: 1800px;
  }
  .weekTrendsWrapper {
    width: 1800px;
  }
}
