.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.weekTrends {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Оставляем gap как в HEAD */
  margin: 15px; /* Устанавливаем margin как в main */
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 20px; /* Сохраняем gap как в main */
  overflow: hidden;
  margin-top: 10px; /* Используем margin-top из main */
}

.moviesList {
  margin-top: 20px;
  width: 100%;
}

.sectionTitle {
  font-size: 25px;
}

.stories {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  gap: 20px;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

.stories::-webkit-scrollbar {
  display: none;
}

.ganersList {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  scroll-behavior: smooth;
  padding-right: 80px;
  padding-left: 10px;
}

.ganersList::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 992px) {
  .popularMoviesWrapper {
    width: 1350px;
  }
  .weekTrendsWrapper {
    width: 1350px;
  }
}

@media screen and (min-width: 1080px) {
  .popularMoviesWrapper {
    width: 1800px;
  }
  .weekTrendsWrapper {
    width: 1800px;
  }
}
