.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}

.genresList {
  display: flex;
  gap: 10px;
  width: 95%;
  overflow-x: auto;
  align-items: center;
  padding: 15px;
}

.genresList::-webkit-scrollbar {
  display: none;
}

.genresItem {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-weight: bold;
  background-color: #1e1e1e;
  min-width: auto;
}

.genresItem:hover {
  transform: scale(1.05);
}

.genresItem:active {
  transform: scale(0.8);
}

.genresReset {
  padding: 12px;
  background: #1e1e1e;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.genresReset:hover {
  transform: scale(1.05);
  background-color: #113635;
}

.genresReset:active {
  transform: scale(0.8);
}

.action {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}

.adventure {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  color: #fff;
}

.animation {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #fff;
}

.comedy {
  background: linear-gradient(to right, #fceabb, #f8b500);
  color: #fff;
}

.crime {
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
}

.documentary {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
}

.drama {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #fff;
}

.family {
  background: linear-gradient(to right, #f5af19, #f7b731);
  color: #fff;
}

.fantasy {
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  color: #fff;
}

.history {
  background: linear-gradient(to right, #333333, #e6e6e6);
  color: #fff;
}

.horror {
  background: linear-gradient(to right, #3f3f3f, #666666);
  color: #fff;
}

.music {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}

.mystery {
  background: linear-gradient(to right, #2c3e50, #fd746c);
  color: #fff;
}

.romance {
  background: linear-gradient(to right, #fbbd61, #f79c42);
  color: #fff;
}

.scifi {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
}

.tvMovie {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  color: #fff;
}

.thriller {
  background: linear-gradient(to right, #000428, #004e92);
  color: #fff;
}

.war {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
}

.western {
  background: linear-gradient(to right, #f9d423, #ff4e50);
  color: #fff;
}

.actionAdventure {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}

.kids {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
}

.news {
  background: linear-gradient(to right, #ff9a8b, #ff6a00);
  color: #fff;
}

.reality {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  color: #fff;
}

.fantasySeries {
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  color: #fff;
}

.soapOpera {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #fff;
}

.talkShow {
  background: linear-gradient(to right, #3f3f3f, #666666);
  color: #fff;
}

.warPolitics {
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
}

.default {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: #fff;
}
